﻿﻿/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  /*background: -webkit-linear-gradient(white,#f8f8f8,#f5f5f5, #E0E0E0); 
    background: -o-linear-gradient(white,#f8f8f8,#f5f5f5, #E0E0E0); 
    background: -moz-linear-gradient(white,#f8f8f8,#f5f5f5, #E0E0E0);
    background: linear-gradient(white,#f8f8f8,#f5f5f5, #E0E0E0);*/
}
#footer {
  position: absolute;
  bottom: 0;
  padding: 5px;
  padding-right: 5em;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #E0E0E0;
  font-weight: bold;
  display: inline;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.projectButtons {
	padding-right: 5px;
}

.userButtons {
	padding-right: 5px;
}

.table {
	 width:1024px;
	 text-align:left;
}

.projectTitle {
	bgcolor="blue";
	width:1024px;
	padding-bottom:1cm;
}

.display_inline{
	position:absolute;
	display: inline;
	width: 100%;
}

.my_container{
  padding: 0;
  margin: 0;
  display: inline;
  width: 100%;
}

.height-3em{
	height: 3em;
}

.height-4em{
	height: 4em;
}

.large_table, .large_table_header, .large_table_body, .table_foot,
.thin_table, .thin_table_header, .thin_table_body{
	border-collapse: separate;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.large_table, .thin_table{
	margin-bottom: 2em;
	min-width: 20em;
}

.large_table{
	box-shadow: -2px 2px 10px #CcCcCc;
}

.thin_table{
	background-color: #eee;
	box-shadow: -3px 3px 10px #CcCcCc;
}

.large_table_header{
	background-color: gray;
	padding: .3em;
	color: white;
}

.thin_table_header{
	background-color: #bbb;
	padding: 2px;
	color: black;
}

.large_table_header, .this_table_header{
	font-weight: bold;
	padding-left: 1em;
}

.large_table_body{
	padding: .5em;
	box-shadow: 0px 3px 3px #CcCcCc;
}

.thin_table_body{
	padding: .5em;
	background-color: #eee;
	border-bottom: solid 2px lightGrey;
}

.table_foot{
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}

.large_table_body div:nth-child(1), .thin_table_body div:nth-child(1){
	color: #99bbff;
	font-size: medium;
}

.large_table_body div, .thin_table_body div{
	color: grey;
	font-size: small;
}


.margin-right{
	margin-right: 20px;
}

.btn_comment{
	background-color: #ffffff;
	color: grey;
	border: solid 1px #acacac;
	border-radius: 5px;
	font-weight: 100;
	padding: .1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-right: 30px;
	float: right;
}

.btn_comment:HOVER {
	background-color: #999;
	color: #fff;
}

.btn_comment:ACTIVE {
	box-shadow: 0px 0px 10px #fff;
}

.open_close{
	background-color: transparent;
	border: 0px;
	width: 100%;
	display: block;
	text-decoration: none;
}

.open_close:hover{
	background-color: #eee;
}

.width_25{
	width: 25%;
}

.width_50{
	width: 50%;
}

.width_75{
	width: 75%;
}

.width_100{
	width: 100%;
}

.scroll{
	overflow: scroll;
}

.align_top{
	vertical-align: top;
}

.user_story{
	height: 50px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #222;
	border-bottom: solid 1px grey;
}

.height_450{
	height: 450px;
}

.color_current{
	background-color: #9f9;
}

.color_backlog{
	background-color: #79b;
}

.color_icebox{
	background-color: #aef;
}

.color_epics{
	background-color: #fea;
}

.form-inline{
	padding-top: 8px; 
}

#imgpoll{
	width: 370px;
	height: auto;
}

#aboutpage{
	text-align: center;
}